#header {
    background-color: #2cccd3;
    background-image: url("/assets/headerClouds.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: .5rem solid #cbd543;
    height: 200px;
    width: 100vw;
}

#footer {
    background-color: #474747;
    width: 100vw;
}

.footerText{
    color: #fff;
    font-size:1rem;
    padding: 3rem;
    width: 40%;
}
