#header{
    background-color: #2cccd3;
    width: 100vw;
    height: 13rem;
    border-bottom: .5rem solid #cbd543;
    /*background-image: url("/assets/headerClouds.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.clouds{
    height: 18.75rem;
}