#welcome{
    background: #ccc;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer{
    background: #eee;
    position: absolute;
    bottom: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.textBoxLeft{
    background: #fff;
    width: 80%;
    margin: auto;
    padding: 3rem;
}

.welcomeCharacterRight{
/*    background: #eee;*/
/*    height: 650px;*/
/*    width: 350px;*/
/*!*position: relative;*!*/
/*!*z-index: 1;*!*/
}

.robot{
    width: 350px;
    height: 650px;
}