/*BEGIN ABOUT US SECTION*/

#aboutUs{
    align-items: center;
    background-image: url("/assets/welcomeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 700px;
    justify-content: center;
    min-width: 100vw;
    position: relative;
}

.contentContainerTextLeft{
    bottom: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
    width: 80%;
}

.textBoxLeft{
    background: #fff;
    margin: auto;
    padding: 3rem;
    width: 80%;
}

.aboutUsCharacter{
    padding: 2rem 0rem;
}

/*END ABOUT US SECTION*/

/*BEGIN AD SECTION*/

.adPanel{
    background-color: #ffffff;
    border-bottom: solid 7px #474747;
    border-top: solid 7px #474747;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    position: relative;
}

.contentContainerAd{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    width: 80%;
}

.adLeft{
    height: 250px;
    width: 300px;
}

.adRight{
    height: 250px;
    width: 300px;
}

/*END AD SECTION*/

/*BEGIN SIGN UP SECTION*/

#signUp{
    align-items: center;
    background-image: url("/assets/signUpBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    height: 700px;
    position: relative;
}

.contentContainerTextRight{
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    width: 80%;
}

.textBoxRight{
    background: #fff;
    margin: auto;
    padding: 3rem;
    width: 80%;
}

/*END SIGN UP SECTION*/

/*BEGIN DONATE SECTION*/

#donate{
    background-image: url("/assets/donateBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 700px;
    min-width: 100vw;
    justify-content: center;
    position: relative;
    align-items: center;
}

.donateCharacter{
    padding: 2rem 0rem;
}

/*END DONATE SECTION*/