<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Edheads!</title>
</head>
<body>

<section id="welcome">
    <div class="contentContainer">
    <div class="textBoxLeft">
    </div>

    <div class="welcomeCharacter">
    </div>
    </div>
</section>

<section id="adPanel">
    <div class="contentContainer">
    <div class="adLeft">
    </div>

    <div class="adRight">
    </div>
    </div>
</section>

<section id="signUp">
    <div class="contentContainer">
    <div class="textBoxRight">
    </div>

    <div class="signUpCharacter">
    </div>
    </div>
</section>

<section id="adPanel2">
    <div class="contentContainer">
    <div class="adLeft">
    </div>

    <div class="adRight">
    </div>
    </div>
</section>

<section id="donate">
    <div class="contentContainer">
    <div class="textBoxLeft">
    </div>

    <div class="donateCharacter">
    </div>
    </div>
</section>



</body>
</html>