<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Edheads!</title>

    <link rel="stylesheet" href="/css/welcome.css">

</head>
<body>

<section id="welcome">
    <div class="contentContainer">
    <div class="textBoxLeft">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras congue ultricies justo vitae rhoncus. Pellentesque et justo quam.
            Donec in aliquet dolor, et luctus metus. Nulla quis auctor orci.
            In molestie neque ut arcu ultrices, ac tempor lorem dignissim.
            Praesent luctus ante sed scelerisque pharetra. Nam purus odio, venenatis maximus.
        </p>
    </div>

    <div class="welcomeCharacterRight">
        <img src="/assets/welcomeImagePlaceholder.jpg" alt="" class="robot">
    </div>
    </div>
</section>

<section id="adPanel">
    <div class="contentContainer">
    <div class="adLeft">
    </div>

    <div class="adRight">
    </div>
    </div>
</section>



<section id="signUp">
    <div class="contentContainer">
    <div class="textBoxRight">
    </div>

    <div class="signUpCharacter">
    </div>
    </div>
</section>

<section id="adPanel2">
    <div class="contentContainer">
    <div class="adLeft">
    </div>

    <div class="adRight">
    </div>
    </div>
</section>

<section id="donate">
    <div class="contentContainer">
    <div class="textBoxLeft">
    </div>

    <div class="donateCharacter">
    </div>
    </div>
</section>



</body>
</html>